<div class="app-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>Angular Security & features</span>
    <span class="spacer"></span>
    
    <a mat-button routerLink="/users">Community</a>
    
    <ng-container *ngIf="authService.currentUser() as user; else loginBtn">
       <a mat-button routerLink="/users/profile">
         <mat-icon>account_circle</mat-icon> 
         {{ user.name }}
       </a>
       <button mat-icon-button (click)="logout()" title="Logout">
         <mat-icon>exit_to_app</mat-icon>
       </button>
    </ng-container>
    
    <ng-template #loginBtn>
      <a mat-button routerLink="/auth/login">Login</a>
      <a mat-raised-button color="accent" routerLink="/auth/register">Register</a>
    </ng-template>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p>&copy; 2025 Angular Security Demo</p>
    <a mat-button color="primary" [href]="rssUrl" target="_blank">
      <mat-icon>rss_feed</mat-icon> RSS Feed
    </a>
  </footer>
</div>
